%-*- mode: erlang -*-

{erl_opts, [
    inline,
    {src_dirs, ["src"]},
    {i, "src"},
    warn_unused_vars,
    %warnings_as_errors,
    %warn_export_all,
    nowarn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

{clean_files, [
    "erl_crash.dump",
    "doc/*.html",
    "doc/erlang.png",
    "doc/edoc-info",
    "doc/stylesheet.css"
]}.

{sub_dirs, ["rel"]}.


%% == Dependancies ==

%% Where to put any downloaded depandencies. Default is `deps'
{deps_dir, ["deps"]}.

{deps, [

          {cowboy,               {git, "https://github.com/ninenines/cowboy.git",              {branch, "master"}}},
          {eredis,               {git, "https://github.com/wooga/eredis.git",                  {branch, "master"}}},
          {pgapp,                {git, "https://git@github.com:epgsql/pgapp.git",              {branch, "master"}}},
          {jsx,                  {git, "https://github.com/talentdeficit/jsx.git",             {branch, "master"}}}
]}.

{profiles, [
    {master, [
        {erl_opts, [
            no_debug_info
          ]}
        ]},
    {local, [
        {deps, [
        ]},
        {dist_node, [
            {setcookie, 'testcookie'},
            {sname, 'game_server'}
        ]}
    ]},

    {test, [
        {deps, [   ]},
        {dist_node, [
            {setcookie, 'testcookie'},
            {sname, 'game_server_test'}
        ]},
        {pre_hooks, [{"(linux)", ct, "./ct_database.sh init"}

                    ]},
        {post_hooks, [{"(linux)", ct, "./ct_database.sh terminate"}

                     ]}
    ]}
]}.
