[

%%        {logger,
%%            [{handler, default, logger_std_h,
%%                #{config => #{file => "log/error.log"}}}]}
%%    ,
%%     {dbproxy, [
%%          {databases, [
%%                  [
%%                      {name, game_server},
%%                      {size, 10},
%%                      {timeout, 1000},
%%                      {pool_exceeded_limit, 15},
%%                      {pg_host, "127.0.0.1"},
%%                      {pg_user, "dba"},
%%                      {pg_password, "123"},
%%                      {pg_database, "game_server" },
%%                      {pg_timezone, "UTC"}
%%                  ]
%%
%%    ]}]},
%%    {episcina, [{max_restarts, 2000},
%%                {max_seconds_between_restarts, 7200},
%%                {pools, [{db1,
%%                          [{size, 10},
%%                           {timeout, 10000},
    {dbproxy, [{pools, [{game_server,
        [{size, 10},
            {timeout, 10000},
            {connect_provider, {epgsql, connect,
                [[
                    {host, "127.0.0.1"},
                    {database, "game_server"},
                    {port, 5432},
                    {username, "dba"},
                    {password, "123"}]]}},
            {close_provider, {epgsql, close, []}}]}]}]},

    {game_server, [
        {redis_client, [{host, "redis.tst"}, {port, 6379}, {db, 7}]}

    ]}
].
