[

    {pgapp, [
        {pools, [
            {game_server, [
                {size, 10},
                {max_overflow, 20}
            ],
                [
                    {host, "127.0.0.1"},
                    {database, "game_server"},
                    {username, "dba"},
                    {password, "123"}
                ]}
        ]}
    ]
    },

    {game_server, [
        {redis_client, [{host, "redis.tst"}, {port, 6379}, {db, 7}]}

    ]}
].
